body {
    margin: 0;
}
/* Content */
.content {
    display: flex;
    height: 100vh;
}

.content-perfil {
    background-color: #bd5d38;
    width: 30%;
    height: 100vh;
}

.content-sliding {
    width: 70%;
    height: inherit;
    overflow-y: scroll;
}

/* SKILLS */

.skills{
    margin:0px;
    padding: 30px;   
}

    .skills__title{
        font-size:3.5em;
        font-weight: normal;
        color:rgb(54, 52, 52);
        font-family: 'Teko', sans-serif;
    }

    .skills__contents{
        margin-top: 70px; 
        color: #999; 
    }
        .skills__contents--title{
            font-family: 'Teko', sans-serif;
            font-weight: normal;
        }

        .skills__lists {
            padding-left: 0px;
            padding-top: 1em;
            padding-bottom: 0.5em;
        }

            .skills__icon {
                display: inline;
                padding:0 1.3em 0 0;
                list-style-type:none;  
            }

    .skills__contents--second{
        color: #999; 
    }       
        .skills__lists--second{
            list-style-image: url(../assets/img/checklistgris.png);
        }


@media screen and (max-width: 600px ) {
    
    .skills__title{
        margin-bottom: -50px;
    }

    .skills__contents--title{
        font-size:small;
    }
}

  